body{
    background-color:rgb(255, 255, 255);
    font-family:product sans-serif;
    box-sizing: border-box;
}
body a{
    text-decoration: none;
    color: black;
    display:block ;
    
}
.intro h1{
    text-align: center; 
}

.intro h2{
    text-align: center;
}
.intro p{
    text-align: right;
    font-size:xx-large;
    vertical-align: middle;
    text-decoration: antiquewhite;
}
.searchbar {
    width: 96%;
    background-color: rgba(253, 251, 252, 0.986);
    border: 1px solid rgba(0, 0, 0, 0);
}
.logo img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.searchbar {
    background-color: rgba(72, 71, 71, 0.468);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nestpictures img{
    width: 250px;
    height: 250px;
    border-radius: 50px;
    padding: 40px; 
    justify-content:center;
}

.debut video{
    width: 100%;
}
.debut p{
    text-align: center;
    text-transform: uppercase;
    
}
.fin video{
    width: 30%;
    display:flex;
    float:right;
    align-items: center;
}
.parason p{
    display:flex ;
    text-align: left;
    margin :100px;
    font-size: 25px;
}
.bluenest {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.buybutton {
    position: fixed;
    top: 0%;
    background-color: rgba(120, 120, 248, 0.874);
    border-radius: 40%;
} 

.fonctionnalites img{
    width: 30%;
}

.fonctionnalites {
    display:flex;
    align-items: center;
     
}
.design img{
    max-width:60%;

}
@media screen(max-width:1500px){
    width: 100%;
}